body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#text_area {
    width: calc(100% - 20px);
    height: calc(100vh - 80px);
    margin: 5px;
    resize: none;
}
#button {
    position: absolute;
    left: 5px;
    bottom: 5px;
    margin: 20px 0;
    cursor: pointer;
}
